<section class="container text-center">
    <h4 id="welcomeText">My Posts {{user.first_name}} {{user.last_name}}</h4>
    <button class="btn btn-primary px-2" onclick="window.location.href='/newpost';">New Post</button>


</section>

</section>

{{!--
<script src="/js/acceptService.js"></script> --}}