<div class="container mt-3">
  <div class="card p-3 text-center">

    <form class="login-form row">

      <div class="col-md-12 justify-content-center">
        <div class="inputs">
          <label>Email*</label>
          <input class="form-control" type="text" id="emailLogin" placeholder="Enter your email*">
        </div>
      </div>
      <div class="col-md-12 justify-content-center">
        <div class="inputs">
          <label>Password*</label>
          <input class="form-control" type="text" id="passwordLogin" placeholder="Enter your password*">
        </div>
      </div>

      <br><br>
      <div class="col-md-12 mt-3 gap-2 d-flex justify-content-end row">
        <button class="px-3 btn btn-sm btn-primary" type="submit">Login</button>
        <button class="px-3 btn btn-sm btn-primary" onclick="window.location.href='/';">Cancel</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>