<div class="container mt-5" style="width: 45rem">
  <div class="d-flex justify-content-center row">
    <div class="col-md-10">
      <div class="row p-2 bg-white">
        <div class="col-xl-12 mt-1 text-start">
          <h5 class="signin-title mb-4">Log in to your account</h5>

          <form class="login-form row g-2">
            <div class="col-sm-12">
              <label for="email" class="form-label">Email</label>
              <input type="text" class="form-control" id="emailLogin" required="required">
            </div>
            <div class="col-sm-12">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="passwordLogin" required="required">
            </div>

            <div class="d-grid gap-2 d-md-block mt-4 mb-4">
              <button class="btn btn-primary mt-2 me-3" type="submit">Submit</button>
              <button class="btn btn-primary mt-2" type="button" onclick="window.location.href='/';">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="./js/login.js"></script>