<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-5">
            <div class="row p-2 bg-white">

                <div class="col-lg-12 mt-1 text-start">
                    <h5 class="signup-title mb-4">Sign up for a free account</h5>

                    <form class="signup-form row g-2 signup-text">
                        <div class="col-md-6">
                            <label for="firstName" class="form-label">First Name</label>
                            <input type="text" class="form-control" id="firstName" required="required">
                        </div>
                        <div class="col-md-6">
                            <label for="lastName" class="form-label">Last Name</label>
                            <input type="text" class="form-control" id="lastName" required="required">
                        </div>
                        <div class="col-md-6">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" required="required">
                        </div>
                        <div class="col-md-6">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" required="required">
                        </div>
                        <div class="d-grid gap-2 d-md-block mt-4">
                            <button class="btn btn-primary mt-2" type="submit">Register</button>
                            <button class="btn btn-primary mt-2" type="button"
                                onclick="window.location.href='/';">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="./js/signup.js"></script>