:root {
    --main-font-family: 'Montserrat', sans-serif;
    --logo-title-font-family: 'Solway', serif;
}

* {
    font-family: var(--main-font-family);
}

.navbar-brand {
    font-family: var(--logo-title-font-family);
    font-weight: 800;
    color: #4a7ea6;
}

.btn-primary {
    background-color: #4a7ea6;
    border-color: #4a7ea6;
}